<a href="https://colab.research.google.com/github/Kranium2002/Gaana-Data-Analysis/blob/main/Gaana_com_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Kranium2002/Gaana-Data-Analysis.git

Cloning into 'Gaana-Data-Analysis'...
remote: Enumerating objects: 24, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 24 (delta 7), reused 24 (delta 7), pack-reused 0
Unpacking objects: 100% (24/24), done.

In [82]:
import pandas as pd
from tqdm import tqdm

In [5]:
df = pd.read_csv("Gaana-Data-Analysis/songs.csv")

In [6]:
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu

1. Checking for nulls

In [8]:
df.isnull().sum()

name         0
singer       0
singer_id    0
duration     0
link         0
language     0
dtype: int64

2. Converting Duration from string to int(seconds)

In [21]:
durationLst = []
for i in df['duration']:
  
  sec = int(i.split(':')[0])*60+int(i.split(':')[1])
  durationLst.append(sec)
  
df['duration'] = durationLst

In [22]:
df

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,300,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,386,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,221,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,266,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,339,/hazaron-khwahishen-aisi-1,Urdu
...,...,...,...,...,...,...
41350,Chaaridike Paaper Andhar (Manush Janam Diye Bi...,Kishore Kumar,/artist/kishore-kumar,203,/chaaridike-paaper-andhar-manush-janam-diye-bidhi,Bengali
41351,Ei Ki Go Shesh Daan,Feroza Begum,/artist/feroza-begum,236,/ei-kigo-sesh-daan,Bengali
41352,Ei Je Bangla,Sandhya Mukherjee|Hemant Kumar,/artist/sandhya-mukherjee|/artist/hemanta-mukh...,456,/ei-je-bangla,Bengali
41353,Jatone Hridaye Rekho,Ajoy Chakrabarty,/artist/ajoy-chakrabarty,269,/jatone-hridaye-rekho,Bengali
41354,Tomar Je Oi Haater Mala,Asha Bhosle,/artist/asha-bhosle-1,202,/tomar-je-oi-haater-mala,Bengali

3. Average Duration of Song

In [27]:
avg = df['duration'].sum()/len(df['duration'])
print(int(avg//60), " min ",round(avg%60,2)," sec")

4  min  55.31  sec

4. Number of languages included in df

In [28]:
df['language'].nunique()

16

In [29]:
df['language'].unique()

array(['Urdu', 'Gujarati', 'Tamil', 'Kannada', 'Rajasthani', 'Haryanvi',
       'Punjabi', 'Hindi', 'Old', 'Malayalam', 'Marathi', 'Telugu',
       'Odia', 'Bhojpuri', 'Assamese', 'Bengali'], dtype=object)

In [32]:
set(df['language'])

{'Assamese',
 'Bengali',
 'Bhojpuri',
 'Gujarati',
 'Haryanvi',
 'Hindi',
 'Kannada',
 'Malayalam',
 'Marathi',
 'Odia',
 'Old',
 'Punjabi',
 'Rajasthani',
 'Tamil',
 'Telugu',
 'Urdu'}

In [37]:
numL= set(df['language'])
numL.remove('Old')

In [38]:
print("Number of languages = ",len(numL))

Number of languages =  15

5. Number of songs per language

In [58]:
for i in numL:
  print(i," ",df.loc[df['language']==i].count()[0])

Tamil   4677
Rajasthani   541
Punjabi   3818
Bengali   958
Hindi   4993
Telugu   4996
Assamese   724
Gujarati   2115
Odia   940
Kannada   3559
Bhojpuri   519
Marathi   4699
Haryanvi   228
Malayalam   479
Urdu   3116

6. Avg len of song in each language

In [61]:
for i in numL:
  print(i," ",round(df.loc[df['language']==i].mean()[0],2),"sec")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Tamil   270.59 sec
Rajasthani   291.04 sec
Punjabi   324.02 sec
Bengali   255.18 sec
Hindi   307.87 sec
Telugu   279.23 sec
Assamese   228.33 sec
Gujarati   271.63 sec
Odia   257.63 sec
Kannada   250.59 sec
Bhojpuri   357.14 sec
Marathi   281.16 sec
Haryanvi   320.0 sec
Malayalam   242.61 sec
Urdu   407.27 sec

7. How many singers are there?

In [62]:
df['singer'].unique()

array(['Chitra Singh|Jagjit Singh', 'Jagjit Singh', 'Chitra Singh', ...,
       'Bishnupada Das', 'Madhuri Chatterjee', 'Rabindranath Tagore'],
      dtype=object)

In [68]:
all_singers = []
for i in df['singer']:
  all_singers+=i.split('|')

In [70]:
len(set(all_singers))

3940

8. Number of songs per singer

In [83]:
c=0
lst = []
for i in tqdm(list(set(all_singers))):
  for m in df['singer']:
    if(i in m):
      c+=1
  lst.append((i,c))
  c=0

100%|██████████| 3940/3940 [00:31<00:00, 127.01it/s]

In [85]:
songs_freq_by_singer = pd.DataFrame(lst,columns={'singers','songs'})
songs_freq_by_singer.head()

                 singers  songs
0                  Ramya     11
1           Nahid Akhter      2
2      Lalitaben Trivedi      1
3  CHANDRAMANI MUKHERJEE      8
4             Sipra Basu      1

In [88]:
songs_freq_by_singer.sort_values(by='songs', ascending = False)

                         singers  songs
1548      S. P. Balasubrahmanyam   3659
2751                       Kumar   3270
3677                     Susheel   3216
2159                    Susheela   3215
2977                 P. Susheela   3213
...                          ...    ...
2953            Ram Niwas Sharma      1
2952            M. Krishnamurthy      1
641        Purshottam Das Jalota      1
2949  Bangalore A.R. Ramani Amma      1
2742             K.A. Thangavelu      1

[3940 rows x 2 columns]

9. Singer who played most number of songs per language

In [91]:
for lang in df['language'].unique():
  df_ = df[df['language']==lang]
  all_singers = []
  for i in df_['singer']:
    all_singers+=i.split('|')
  print (lang,len(set(all_singers)))

Urdu 385
Gujarati 303
Tamil 510
Kannada 379
Rajasthani 218
Haryanvi 76
Punjabi 636
Hindi 515
Old 515
Malayalam 72
Marathi 569
Telugu 369
Odia 243
Bhojpuri 109
Assamese 228
Bengali 192